---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="home-heading">
      {{ site.title }}<br>
      <em>— {{ site.subtitle }}</em>
    </h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li class="post-item">
        <span class="post-meta">
          {{ post.date | date: "%b %d, %Y" }}
          {%- if post.categories -%}
            &nbsp;•
            {% for cat in post.categories %}
              <a href="/categories/#{{ cat | slugify }}" class="post-category">{{ cat }}</a>
              {%- unless forloop.last -%}, {% endunless %}
            {%- endfor -%}
          {%- endif -%}
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
          <div class="post-excerpt">
            {{ post.excerpt }}
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- Pagination -->
    <div class="pagination">
      {%- if paginator.previous_page -%}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">← Previous</a>
      {%- endif -%}
      {%- if paginator.next_page -%}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next →</a>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
